*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.todo-app{
  width: 50vw;
  margin: 20px auto;
}
.add-todo{
  margin: 0 auto;
}
.add-todo input{
  width: 80%;
  padding: 10px;
  
}
.add-todo button{
  width: 20%;
  padding: 10px;
}
.todo-list{
  width: 100%;
}
.todo-item{
  width: 70%;
  margin: 5px auto;
  display: flex;
}
.todo{
  cursor: pointer;
  text-transform: capitalize;
  width: 85%;
  background-color: yellow;
  color: red;
  font-weight: bolder;
  padding: 5px;
}
.strike{
  text-decoration: line-through;
}
.delete{
  background-color: black;
  color: lightgray;
  border: none;
  border-radius: 5px;
  width: 15%;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
  cursor: pointer;
  margin-top: 20px;
}